<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.4" name="openSUSE">
	<description type="system">
		<author>openSUSE Project Contributors</author>
		<contact>factory@lists.opensuse.org</contact>
		<specification>openSUSE Linux</specification>
	</description>
	<preferences>
		<version>Tumbleweed</version>
		<packagemanager>zypper</packagemanager>
		<locale>en_US</locale>
		<keytable>us</keytable>
		<timezone>UTC</timezone>
		<release-version>tumbleweed</release-version>
	</preferences>
	<include from="this://./repositories/core.xml"/>
	<include from="this://./components/boot.xml"/>
	<include from="this://./components/users.xml"/>
	<include from="this://./components/dnf4.xml"/>
	<include from="this://./components/dnf5.xml"/>
	<include from="this://./components/zypper.xml"/>
	<include from="this://./teams/cloud.xml"/>
	<packages type="bootstrap">
		<package name="openSUSE-release"/>
		<package name="ca-certificates-mozilla"/>
		<package name="filesystem"/>
	</packages>
</image>
